/* Container principal */
.app-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

/* Coluna esquerda */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Seletor de variantes */
.variant-selector:invalid {
    color: #999999;
    font-style: italic;
}

/* Quando uma variante está selecionada */
.variant-selector:valid {
    color: #000000;
    font-style: normal;
}

.variant-selector option:not([disabled]) {
    color: #000000;
    font-style: normal;
}

.variant-selector {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

/* Container do tabuleiro */
.chessboard-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Container de botões */
.controls-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}

/* Botão */
.control-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    min-width: 100px;
}

.control-button:hover {
    background-color: #1976D2;
}

/* Contador de lances */
.move-counter {
    font-size: 20px;
    font-weight: bold;
}

/* Dica de teclado */
.keyboard-hint {
    margin-top: 5px;
    color: #333;
    font-size: 16px;
}

/* Coluna direita */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Título da explicação */
.title-variant {
    color: #111;
    padding-bottom: 2px;
    border-bottom: 2px solid #2196F3;
    margin: 0px;
}

/* Título dos jogadores */
.title-players {
    color: #111;
    padding-bottom: 2px;
    margin: 0px;
}

.title-event {
    color: #111;
    padding-bottom: 2px;
    margin: 0px;
    border-bottom: 2px solid #2196F3;
}

/* Texto da explicação */
.explanation-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
}